
.navbar {
	background-color: #A0522D !important;
}
/*
 * General
 */
a {
	color: #A0522D;
}
a:hover {
	color: #8B4513;
	text-decoration: none;
}

.p-t-15 {
	padding-top: 15px;
}
.p-l-15 {
	padding-left: 15px;
}
.p-r-15 {
	padding-right: 15px;
}
.p-b-15 {
	padding-bottom: 15px;
}
.p-b-10 {
	padding-bottom: 10px;
}

/*
 * Body
 */
.main-title {
	padding: 15px 0;
}
.blog-title {
	margin: 0;
}
.blog-date {
	color: #999;
	font-style: italic;
}
.homepage-archives-list {
	list-style: none;
	padding: 5px 5px 5px 0;
}

/*
 * Footer
 */
.blog-footer {
  padding: 1rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}